.header{
    
    padding: 20px ;
    background-color: darkgray;
    text-align: center;
}
.head_logo{
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    margin: 20px 0;
}