.sidebar{
    width: 20%;
    display: inline-block;
    border-right: 2px solid black;
    
    background-color: rgb(197, 197, 247); 
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul h4{
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
}
nav ul li p{
    padding: 8px 20px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    
}
nav ul li p:hover{
    cursor: pointer;
    background-color: rgb(142, 142, 230); 
}