.footer{
    background: yellowgreen;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    
}
.footer_int{
    display: flex;
    justify-content: space-between;
    
}
.footer_int a{
    display: inline-block;
    text-decoration: none;
    color: rgb(44, 43, 43);
}
.footer_int p{
    margin: 0;
}