.name_card {
    width: 170px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
}
.name_card img {
    width: 100%;
    object-fit: contain;
}
.name{
    font-size: 18px;
    font-weight: bold;
}