.post{
    margin: 12px 0;
    border: 1px solid green;
    border-radius: 4px;
    background: white;
}
 .postUser{
    margin: 0;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid green;
    background: rgb(209, 228, 247);
    display: flex;
    justify-content: space-between;
 }

 .postTime{
    font-weight: normal;
    color: grey;
 }

 .postMessage{
    font-size: 18px;
    padding: 8px;
    margin: 0;
 }