.card {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 250px;
    height: auto;
    vertical-align: top;
}
.imgBox {
    width: 250px;
    height: 360px;
    background-color: #ccc;
}
.infoBox {
    margin: 15px;
    overflow: hidden;
}
.cardImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

h1 {
    font-size: 20px;
    white-space: nowrap;
}

p {
    font-size: 14px;
}